.home {
    position: relative;
    width: 100%;
}

.header-home {
    position: relative;
    width: 100%;
    height: 81vh;
    background-image: url('../../images/home/bg-header.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-home {
    position: relative;
    height: 595vh;
    background-image: url('../../images/home/bg-home.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-home {
    position: relative;
    width: 100%;
    height: 44vh;
    margin-top: 5vh;
    background-image: url('../../images/home/bg-footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
}